
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* color code */
.dark2{
    color: #474747;
    /* shred button */

  
}
.hader{
    background-image: url("images/developer.png"), url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 45px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav_title{
    font-weight: 800;
    font-size: 45px;
}
.special_chr{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
/* banner style */
.banner_gretting{
    font-size: 25px;
    font-weight: 600;
}
.banner-content{

}
.banner_title{
    font-weight: bold;
    font-size: 65px;

}
.profile_pic{
    width: 470px;

}
.section_title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.section_description{
    font-size: 15px;
    color: #757575;
    text-align: center;


}
.secondary_background{
    background-color: #FFF8F3;

}
/* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    border-radius: 5px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}
.item_describtion{
    font-weight: 600;
}
.about_items{
    display: flex;
    justify-content: space-around;
    
    
}
.skills{
   
}

.text_center{
    text-align: center;
}

.skills{
    border-radius: 10px;
    padding: 130px 150px;
    border-radius: 5px;
}
.skill_container{
    display: flex;
    gap: 24px;
    border-radius: 10px;
    padding: 130px 150px;
    border-radius: 5px;
    
   
}
.skill{
    padding: 30px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border: none;
    border-radius: 5px;
}
